<div class="container">
  <div class="col">
    <h1></h1>
  </div>

  <br><br>

  <form class="form-group row">
    <div class="form-group col-md-3">

      <label>Nombre</label>
      <input type="text" name="nombre" placeholder="Nombre" class="form-control" [(ngModel)]="cuadroNombre">

    </div>
    <div class="form-group col-md-3">

      <label>Apellido</label>
      <input type="text" name="apellido" id="apellido" placeholder="Apellidos" class="form-control" [(ngModel)]="cuadroApell">

    </div>
    <div class="form-group col-md-3">

      <label>Rol</label>
      <input type="text" name="rol" id="rol" placeholder="Rol" class="form-control" [(ngModel)]="cuadroRol">

    </div>
    <div class="form-group col-md-3">

      <label>Edad</label>
      <input type="text" name="edad" id="edad" placeholder="Edad" class="form-control" [(ngModel)]="cuadroEdad">

    </div>

    <div class="col">
      <button type="submit" class="btn btn-danger" (click)="agregarUsuario()" style="margin-top: 30px;">AÑADIR</button>
    </div>

  </form>
</div>

<br><br>
<!--LLAMAR INFO DE OTRO COMPONENTE HACIA AQUI CON [] (19)-->
<app-sign *ngFor="let usuario of usuarios; let i=index" [indice]="i" [usuarioLista]="usuario"></app-sign>

